.chores {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    color: fuchsia;
}

h3 {
    text-decoration: underline;
}

ul {
    font-style: italic;
}